.pai{
    /* vou start o container Flex */
    width: 100%;
    height: 100vh;
    display: flex; 
    flex-wrap: wrap;
    align-content: pai;
    justify-content: space-evenly;
    gap: 10px;
}

.filha{
    background-color: aqua;
    flex: 1; /* cada filha  cresce igualmente */
    border: 1px solid red ;
}