.pai{
    /* vou iniciar o container FLEX*/
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    gap: 10px;
}

.filha{
        background-color: aqua;
            flex: 1; /*cada filha cresce ingulmente*/
            border: 1px solid red;
}