<footer class="footer">
  <div>
    <p>2026 Formação em Frontend no Cinel até ...</p>
  </div>
  <div class="links">
    <a
      href="https://www.google.com/url?sa=i&source=web&rct=j&url=https://www.facebook.com/?locale%3Dpt_PT&opi=89978449&psig=AOvVaw13cdCbRC5BXg1fYWt9m0D-&ust=1779994145409000/"
      target="_blank"
      >LinkedIn</a
    >
    <a
      href="https://www.google.com/url?sa=i&source=web&rct=j&url=https://pt.linkedin.com/&opi=89978449&psig=AOvVaw3EhWZ3LhPjfmHhW3KRXRvy&ust=1779994222683000/"
      target="_blank"
      >Facebook</a
    >
    <a href="https://www.youtube.com/" target="_blank">Youtube</a>
  </div>
</footer>
