<!--se escrever header>nav+enter ele cria automaticamente a configuração pretendida -->

<header class="header">
    <nav class="nav">

    <!--se escrever div>2*3 ele cria 3 linhas-->
    <!--se escrever ctrl+d 3 vezes ele seleciona as 3 linhas-->
    <!--Atenção sempre que colocamos a rota é sempre em MINUSCULAS-->
    <div class="links">
        <a routerLink="/home">Home</a>
        <a routerLink="/about">About</a>
        <a routerLink="/signin">SignIn</a>
    </div>
    <!--  NOSSA TAG AVATAR, temos que a iimportar no header.ts (verificar)  -->
    <app-avatar></app-avatar>
    </nav>
</header>